In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
cities=["London", "Berlin","Warsaw","Paris"]

In [4]:
cities

['London', 'Berlin', 'Warsaw', 'Paris']

In [5]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [7]:
numbers=(1,2,3,4,5,6,7,8,9,10)
pd.Series(numbers)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
logicalValues = [True,False,True]
pd.Series(logicalValues)

0     True
1    False
2     True
dtype: bool

In [10]:
Spielberg = {"Jaws" : 1975,
             "1941 - The Movie" : 1979,
             "E.T" : 1982}
pd.Series(Spielberg)

Jaws                1975
1941 - The Movie    1979
E.T                 1982
dtype: int64

# Exercises

In [12]:
weekdays = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
weekdaysSeries = pd.Series(weekdays)
weekdaysSeries

0    Mon
1    Tue
2    Wed
3    Thu
4    Fri
5    Sat
6    Sun
dtype: object

In [13]:
freeDays = [False, False, False, False, False, True, True]
freeDaysSeries = pd.Series(freeDays)
freeDaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [14]:
holidays = {'New Year' : '2018-01-01',
            'Epiphany' : '2018-01-06',
            'Easter' : '2018-04-01'}
holidaysSeries = pd.Series(holidays)
holidaysSeries

New Year    2018-01-01
Epiphany    2018-01-06
Easter      2018-04-01
dtype: object